<div class="container-fluid "  style="min-width: 1000px;">
		
	<!-- Menu in alto -->
	<ng-include src="'views/MenuAlto.html'"></ng-include>
	
	<!-- Le 3 fasce contenitive -->
	<div class="row mt-2 .mr-auto">
	
		<!-- Fascia centro -->
		<div class="col border-right text-wrap">
			<ng-include src="'views/Certificati_Content.html'"></ng-include>
		</div>
	
		<!-- Fascia Destra -->
		<div class="col-2 text-wrap">
			<ng-include src="'views/Certificati_FasciaDestra.html'"></ng-include>
		</div>

	</div>
</div>
