<!-- <div class="row" style="background-image: url('/img/logo-512.png'); 	width: 512px;	height: 512px;	position: absolute;	top: 60px;	left: 25%;	opacity: 0.08;"> -->
<!-- </div> -->



<!-- Info Certificato -->

<div class="card mb-3 border-primary"
  	ng-class="crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''" >
	<div class="card-header">
		Info Certificato{{ (crtTextCode_NotAfter_Expired == 'TRUE' ? ' (SCADUTO)' : '' ) }}
	</div>
	<div class="card-body">
		
		
		
	  <div class="list-group border-primary">
		  <div class="list-group-item list-group-item-action flex-column align-items-start "
		  	ng-class="[
						  (crtTextCode_Is_CA == 'TRUE'  ) ? 'text-danger' : ''
						, (crtTextCode_Is_CA == 'FALSE'  ) ? 'text-primary' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_CN || 'CN: &#60;Canonical Name&#62;'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_CN || 'CN: <Canonical Name>' ) ">Copia CN</a></small>
		    </div>
		    <small>Canonical Name</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start"
		  	ng-class="[
						(crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN == crtTextCode_Issuer )) ? 'text-danger' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_Issuer || 'Issuer: &#60;Rilasciato Da&#62;'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Issuer || 'Issuer: <Rilasciato Da>' ) ">Copia Issuer</a></small>
		    </div>
		    <small>Rilasciato Da</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_NotBefore || 'From: &#60;Decorrenza&#62;'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_NotBefore || 'From: <Decorrenza>' ) ">Copia Decorrenza</a></small>
		    </div>
		    <small>Decorrenza</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start "
		  	ng-class="[
						crtTextCode_NotAfter_Expired == 'TRUE' ? 'bg-danger text-white' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_NotAfter || 'To: &#60;Scadenza&#62;'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_NotAfter || 'To: <Scadenza>' ) ">Copia Scadenza</a></small>
		    </div>
		    <small>Scadenza{{ (crtTextCode_NotAfter_Expired == 'TRUE' ? ' (SCADUTO)' : '' ) }}</small>
		  </div>  
	  </div> 

		<div class="form-check mt-3"
			ng-show="crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN == crtTextCode_Issuer )">
		  <i class="fas fa-award text-danger" id="flexCheckDisabled" aria-hidden="true"></i>
		  <label class="form-check-label" for="flexCheckDisabled">
		    CA Root
		  </label>
		</div>
		<div class="form-check mt-3"
			ng-show="crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN != crtTextCode_Issuer )">
		  <i class="fas fa-award text-danger" id="flexCheckDisabled" aria-hidden="true"></i>
		  <label class="form-check-label" for="flexCheckDisabled">
		    CA Intermediate
		  </label>
		</div>
	</div> 
</div> 





<div class="card mb-3 border-primary"
  	ng-class="crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''" >
	<div class="card-header">
		Info File Ideale
	</div>
		<div class="card-body">
		  
		  
	
			<div class="list-group border-primary" >
			  <div class="list-group-item list-group-item-action flex-column align-items-start ">
			    <div class="d-flex w-100 justify-content-between">
			      <h6 class="mb-1">{{crtTextCode_FileName || 'Filename: &#60;Nome File&#62;'}}</h6>
			      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_FileName || 'Filename: <Nome File>' ) ">Copia Filename</a></small>
			    </div>
			    <small>Nome File</small>
			  </div>
<!-- 			  <div class="list-group-item list-group-item-action flex-column align-items-start"> -->
<!-- 			    <div class="d-flex w-100 justify-content-between"> -->
<!-- 			      <h6 class="mb-1"><pre>$ mv &#60;currentFileName.crt&#62; {{crtTextCode_FileName || '...'}}</pre></h6> -->
<!-- 			      <small><a href="javascript:void(0)" ng-click="copyValue( 'mv &#60;currentFileName.crt&#62; ' + crtTextCode_FileName || 'Comando: <Vuoto>' ) ">Copia Comando di Rinomina</a></small> -->
<!-- 			    </div> -->
<!-- 			    <small>Comando di Rinomina</small> -->
<!-- 			  </div> -->
			</div> 
			
			
	      <div class="list-group">
			  <div class="list-group-item list-group-item-action flex-column align-items-start mt-3">
			    <div class="d-flex w-100 justify-content-between">
			      <h6 class="mb-1"><pre>{{$parent.$parent.crtTextCode_TOBE || 'CN:     &#60;Common Name&#62;
Issuer: &#60;Issuer&#62;
From:   &#60;DD MMM YYYY&#62;
To:     &#60;DD MMM YYYY&#62;

-----BEGIN CERTIFICATE REQUEST-----
DUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODE
MMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDU
YCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMM
ERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYC
TIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCER
FICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTI
CATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFI
TEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICA
ALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATE
PHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEAL
ANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPH
UMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHAN
ICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMER
CODEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERIC
DEDUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCO
DUMMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODE
MMYCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDU
YCERTIFICATEALPHANUMERICCODEDUMMYCERTIFICATEALPHANUMERICCODEDUMM
-----END CERTIFICATE REQUEST-----'}}</pre></h6>
			      <small><a href="javascript:void(0)" ng-click="copyValueMultiline( $parent.$parent.crtTextCode_TOBE || 'Contenuto: <Vuoto>' ) ">Copia Contenuto</a></small>
			    </div>
			  </div>  
		  </div>  
			
	    </div> 
</div>















<!-- Info Modulus -->
<div class="card mb-3 border-primary"
  	ng-class="crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''" >
	<div class="card-header">
		Info Aggiuntive
	</div>
	<div class="card-body">
		
		
		
	  <div class="list-group border-primary">
<!-- 		  <div class="list-group-item list-group-item-action flex-columnalign-items-start " > -->
<!-- 		    <div class="d-flex w-100 justify-content-between"> -->
<!-- 		      <h6 class="mb-1">{{crtTextCode_Modulus || 'Modulus: &#60;Modulus&#62;'}}</h6> -->
<!-- 		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Modulus || 'Modulus: <Modulus>' ) ">Copia Modulus</a></small> -->
<!-- 		    </div> -->
<!-- 		    <small>Modulus</small> -->
<!-- 		  </div> -->
		  <div class="list-group-item list-group-item-action flex-column align-items-start" >
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_Modulus_MD5 || 'Modulus MD5: &#60;Modulus MD5&#62;'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Modulus_MD5 || 'Modulus MD5: <Modulus MD5>' ) ">Copia Modulus MD5</a></small>
		    </div>
		    <small>Modulus MD5</small>
		  </div>
      </div> 
	</div> 
</div> 


