<div class="row" style="background-image: url('/img/logo-512.png'); 	width: 512px; height: 512px;; position: absolute;top: 60px; left: 25%; opacity: 0.08;">
</div>












<!-- Contenuto -->
<div class="card">
	<div class="card-header">
		Info Certificato
	</div>
	<div class="card-body">
		<div class="input-group mb-1">
			<input
				type="text"
				class="form-control"
				placeholder="..."
				aria-label="CN"
				ng-model="crtTextCode_CN"
				disabled>
			<div class="input-group-append">
				<button class="btn btn-block btn-outline-primary" id="basic-addon1">CN</button>
			</div>
		</div>
		<div class="input-group mb-1">
			<input
				type="text"
				class="form-control"
				placeholder="..."
				aria-label="Issuer"
				ng-model="crtTextCode_Issuer"
				disabled>
			<div class="input-group-append">
				<button class="btn btn-block btn-outline-primary" id="basic-addon1">Issuer</button>
			</div>
		</div>
	</div>
</div>