<div class="row" style="background-image: url('/img/logo-512.png'); 	width: 512px; height: 512px;; position: absolute;top: 60px; left: 25%; opacity: 0.08;">
</div>



<!-- Info Certificato -->
<div class="card mb-3 "
  	ng-class="[
				  crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''
				, crtTextCode_NotAfter_Expired == 'FALSE' ? 'border-primary' : ''
			  ]"
	ng-show="! $parent.crtTextCode_First">
	<div class="card-header">
		Info Certificato ({{ (crtTextCode_NotAfter_Expired == 'TRUE' ? 'Scaduto' : 'Valido' ) }})
	</div>
	<div class="card-body">
		
		
		
	  <div class="list-group"
		ng-show="! $parent.crtTextCode_First">
		  <div class="list-group-item list-group-item-action flex-column align-items-start"
		  	ng-class="[
						(crtTextCode_Is_CA == 'TRUE'  ) ? 'text-danger' : ''
					  , (crtTextCode_Is_CA == 'FALSE' ) ? 'text-primary' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_CN || 'CN ...'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_CN ) ">Copia CN</a></small>
		    </div>
		    <small>CN</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start"
		  	ng-class="[
						(crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN == crtTextCode_Issuer )) ? 'text-danger' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_Issuer || 'Issuer ...'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Issuer ) ">Copia Issuer</a></small>
		    </div>
		    <small>Issuer</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_NotBefore || 'Not Before ...'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_NotBefore ) ">Copia Data</a></small>
		    </div>
		    <small>Not Before</small>
		  </div>
		  <div class="list-group-item list-group-item-action flex-column align-items-start "
		  	ng-class="[
						crtTextCode_NotAfter_Expired == 'TRUE' ? 'bg-danger text-white' : ''
					  ]">
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_NotAfter || 'Not After...'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_NotAfter ) ">Copia Data</a></small>
		    </div>
		    <small>Not After ({{ (crtTextCode_NotAfter_Expired == 'TRUE' ? 'Scaduto' : 'Valido' ) }})</small>
		  </div>  
	  </div> 

		<div class="form-check mt-3"
			ng-show="crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN == crtTextCode_Issuer )">
		  <i class="fas fa-check-circle text-danger" id="flexCheckDisabled" aria-hidden="true"></i>
		  <label class="form-check-label" for="flexCheckDisabled">
		    CA Root
		  </label>
		</div>
		<div class="form-check mt-3"
			ng-show="crtTextCode_Is_CA == 'TRUE' && ( crtTextCode_CN != crtTextCode_Issuer )">
		  <i class="fas fa-check-circle text-danger" id="flexCheckDisabled" aria-hidden="true"></i>
		  <label class="form-check-label" for="flexCheckDisabled">
		    CA Intermediate
		  </label>
		</div>
	</div> 
</div> 




<div class="card mb-3 "
  	ng-class="[
				  crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''
				, crtTextCode_NotAfter_Expired == 'FALSE' ? 'border-primary' : ''
			  ]"
	ng-show="! $parent.crtTextCode_First">
	<div class="card-header">
		Contenuto Desiderato (TOBE)
	</div>
		<div class="card-body">
		  
		  
	
			<div class="list-group"
			  ng-show="! $parent.crtTextCode_First">
			  <div class="list-group-item list-group-item-action flex-column align-items-start ">
			    <div class="d-flex w-100 justify-content-between">
			      <h6 class="mb-1">{{crtTextCode_FileName || 'File Name...'}}</h6>
			      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_FileName ) ">Copia File Name</a></small>
			    </div>
			    <small>File Name</small>
			  </div>
<!-- 			  <div class="list-group-item list-group-item-action flex-column align-items-start"> -->
<!-- 			    <div class="d-flex w-100 justify-content-between"> -->
<!-- 			      <h6 class="mb-1"><pre>$ mv &#60;currentFileName.crt&#62; {{crtTextCode_FileName || '...'}}</pre></h6> -->
<!-- 			      <small><a href="javascript:void(0)" ng-click="copyValue( 'mv &#60;currentFileName.crt&#62; ' + crtTextCode_FileName ) ">Copia Comando di Rinomina</a></small> -->
<!-- 			    </div> -->
<!-- 			    <small>Comando di Rinomina</small> -->
<!-- 			  </div> -->
			</div> 
			
			
	      <div class="list-group">
			  <div class="list-group-item list-group-item-action flex-column align-items-start mt-3">
			    <div class="d-flex w-100 justify-content-between">
			      <h6 class="mb-1"><pre>{{$parent.$parent.crtTextCode_TOBE || '...'}}</pre></h6>
			      <small><a href="javascript:void(0)" ng-click="copyValueMultiline( $parent.$parent.crtTextCode_TOBE ) ">Copia Contenuto Desiderato</a></small>
			    </div>
			  </div>  
		  </div>  
			
	    </div> 
</div>















<!-- Info Modulus -->
<div class="card mb-5 "
  	ng-class="[
				  crtTextCode_NotAfter_Expired == 'TRUE' ? 'border-danger' : ''
				, crtTextCode_NotAfter_Expired == 'FALSE' ? 'border-primary' : ''
			  ]"
	ng-show="! $parent.crtTextCode_First">
	<div class="card-header">
		Info Aggiuntive
	</div>
	<div class="card-body">
		
		
		
	  <div class="list-group"
		ng-show="! $parent.crtTextCode_First">
<!-- 		  <div class="list-group-item list-group-item-action flex-columnalign-items-start " > -->
<!-- 		    <div class="d-flex w-100 justify-content-between"> -->
<!-- 		      <h6 class="mb-1">{{crtTextCode_Modulus || 'Modulus ...'}}</h6> -->
<!-- 		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Modulus ) ">Copia Modulus</a></small> -->
<!-- 		    </div> -->
<!-- 		    <small>Modulus</small> -->
<!-- 		  </div> -->
		  <div class="list-group-item list-group-item-action flex-column align-items-start" >
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mb-1">{{crtTextCode_Modulus_MD5 || 'Modulus MD5 ...'}}</h6>
		      <small><a href="javascript:void(0)" ng-click="copyValue( crtTextCode_Modulus_MD5 ) ">Copia Modulus MD5</a></small>
		    </div>
		    <small>Modulus MD5</small>
		  </div>
	</div> 
</div> 


